body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
h2 {
    color: #3C3531;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
}
p {
    color: #74A6B1;
    font-size: 24px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 19px;
    margin-left: 140px;
    margin-right: 140px;
}
header button {
    visibility: hidden;
}
footer p {
    text-align: center;
    padding-top: 50px;
    padding-left: 10;
    color: #3C3531;
    font-size: 16px;
}

/* To-Do List */

todolist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 140px;
    margin-right: 140px;
}
#newtask{
    position: absolute;
    border-radius: 5px;
}
#newtask input{
    width: 430px;
    height: 18px;
    font-size: 24px;
    border: 2px solid #74A6B1;
    padding: 12px;
    color: #74A6B1;
    position: relative;
    font-weight: 200;
    border-radius: 4px;
    margin: 10px 0;
}

#newtask input:focus{
    outline: none;
}

#newtask button{
    position: relative;
    float: right;
    width: 140px;
    height: 46px;
    border-radius: 4px;
    font-size: 24px;
    color: white;
    font-weight: 800;
    background-color: #D7A2B3;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: 24px;
    margin-top: 10px;
}

#tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.task{
    align-items: center;
    width: 600px;
    color: #85B1BB;
    font-size: 24px;
    font-weight: 200;
    justify-content: space-between;
    cursor: pointer;
    height: 50px;
    margin-bottom: 8px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #f7f7f7;
    border-radius: 4px;
}

.task input[type="checkbox"]{
    appearance: none;
    width: 24px;
    height: 24px;
    background-image: url('images/unchecked.svg');
    background-size: cover;
    border: none;
    cursor: pointer;
    outline: none;
    margin-right: 24px;
}

.task input[type="checkbox"]:checked{
    background-image: url('images/checked.svg');
    background-size: cover;
}
.delete{
    background-image: url('images/delete.png');
    background-size: cover;
    background-color: transparent;
    width: 38px;
    height: 38px;
    border: none;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 16px;
}
#checktask{
    margin-right: 20px;
}
.task label{
    display: flex;
    align-items: flex-start;
}
.task label span.checked {
    text-decoration: line-through;
    color: #aaa;
}